html, body {
  font-family: "Schoolbell", cursive;
  font-weight: 600;
  font-style: normal;
}

p {
  line-height: 1.2;
  font-size: 1.2rem;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem !important;
  font-family: "Gochi Hand", cursive;
}

h2 {
  font-size: 3rem !important;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.notebook-page {
  background-color: #ffffff;
  box-shadow: -8px 4px 30px rgba(0, 0, 0, 0.4);
  background-image: 
  linear-gradient(to left, rgba(60,30,0,0) 45%, rgba(255, 255, 255, 0.05) 99%, rgba(0,0,0,0.2) 99.6%, rgba(0,0,0,0.2) 100%),
  linear-gradient(to right, rgba(60,30,0,0) 75%, rgba(60,30,0,0.05) 90%, rgba(0,0,0,0.15) 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5rem 4.5rem 1rem 2rem;
  
  border-top-left-radius: 5px;
}

.notebook-page-right {
  background-color: #ffffff;
  box-shadow: 8px 4px 30px rgba(0, 0, 0, 0.4);
  background-image: 
  linear-gradient(to right, rgba(60,30,0,0) 45%, rgba(255, 255, 255, 0.005) 99%, rgba(0,0,0,0.2) 99.6%, rgba(0,0,0,0.2) 100%),
  linear-gradient(to left, rgba(60,30,0,0) 75%, rgba(60,30,0,0.05) 90%, rgba(0,0,0,0.15) 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5rem 3rem 1rem 1rem;
  border-top-right-radius: 5px;
}

.front-title {
  font-family: 'Sunshiney', cursive;
}

.front-subtitle {
  font-family: 'Crafty Girls', cursive;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}


@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  a {
    @apply text-blue-500 underline underline-offset-2;
  }
}

@layer components {
  .btn {
    @apply rounded bg-blue-500 px-4 py-2 text-white;
  }

  .btn-indigo {
    @apply bg-indigo-500 text-white;
  }

  .btn-indigo:hover {
    @apply bg-indigo-600;
  }

  .btn-blue {
    @apply inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:ring-0 focus:outline-none;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}
